.DashboardPage {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #13171d;
}

.DashboardPage .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 1em;
    display: flex;
}

.DashboardPage .actions button {
    background-color: #17ac3f;
    border: none;
    color: black;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 32px;
    display: inline-block;
    vertical-align: middle;
}

.DashboardPage .actions svg {
    display: inline-block;
    vertical-align: middle;
}

.DashboardPage .actions button:hover {
    background-color: #1f9e3f;
}

.DashboardPage .homework-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
}

.DashboardPage .homework-container h1 {
    color: rgb(209, 205, 199);
}

.DashboardPage .homework-container h2 {
    color: rgb(209, 205, 199);
    text-align: center;
    font-size: 1.3em;
}

.DashboardPage .homework-container .homework-card {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid rgb(209, 205, 199);
    border-radius: 4px;
}

.DashboardPage .homework-container .homework-card header span {
    font-size: 1.5em;
}

.DashboardPage .homework-container .homework-card footer span {
    font-size: 0.6em;
}

.DashboardPage .homework-container span {
    color: rgb(209, 205, 199);
}

.DashboardPage .homework-container .homework-card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.DashboardPage .homework-container .homework-card footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.DashboardPage .homework-container .homework-card footer button {
    background-color: #13171d;
    border: none;
    color: rgb(209, 205, 199);
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
}